### Realizado por Victor Marinas

#  Tráfico de Madrid

El dataset ['trafico_madrid.csv'](trafico_madrid.csv) contiene datos de tráfico. Distintos sensores de control de tráfico de la Comunidad de Madrid proporcionan datos sobre la intensidad de tráfico cada 15 minutos.



__Descripción de los datos de tráfico__


* `idelem`: Identificación  única  del  Punto  de  Medida  en  los  sistemas  de  control  del tráfico del Ayuntamiento de Madrid. 
* `fecha`: fecha en formato Año, mes, día, hora, minutos, segundos
* `intensidad`: Intensidad   del   Punto   de   Medida   en
   el   periodo   de   15   minutos  (vehículos/hora). 
* `vmed`: Velocidad  media  de  los  vehículos  en  el periodo  de  15  minutos  (Km./h). Sólo para puntos de medida interurbanos M30. 
* `error`: Indicación de si ha habido al menos una
 muestra errónea o sustituida en el periodo de 15 minutos. 
    * `N`: no ha habido errores ni sustituciones 
    * `E`: los parámetros de calidad de alguna de las muestras integradas no son óptimos. 
* `periodo_integracion`: Número   de   muestras   recibidas   y   consideradas

__1. Crea un dataframe con los datos del fichero  ['trafico_madrid.csv'](trafico_madrid.csv).__

In [1]:
# Sol:
import pandas as pd
datos=pd.read_csv('./datos/trafico_madrid.csv')
datos.head(10)

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,3621,2017-02-18 07:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15
1,3973,2017-02-07 00:00:00,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13
2,4064,2017-02-11 22:45:00,10018,PUNTOS MEDIDA URBANOS,169,3,NaN,0,NaN,15
3,6375,2017-02-08 00:00:00,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14
4,6691,2017-02-23 20:45:00,PM12121,--,2428,5,37.0,81,NaN,15
5,6202,2017-02-03 15:00:00,54010,PUNTOS MEDIDA URBANOS,170,4,27.0,0,N,15
6,4047,2017-02-13 07:00:00,09033,PUNTOS MEDIDA URBANOS,65,1,11.0,0,N,15
7,6077,2017-02-26 11:30:00,47016,PUNTOS MEDIDA URBANOS,171,1,13.0,0,N,15
8,6103,2017-02-17 16:30:00,47044,PUNTOS MEDIDA URBANOS,153,2,27.0,0,N,15
9,7111,2017-02-21 22:30:00,62070,PUNTOS MEDIDA URBANOS,395,6,28.0,0,N,15

__2.__ Cada estación de tráfico tiene unas coordenadas. Dicha información se encuentra en el fichero [./datos/pmed_trafico_coord.csv](./datos/pmed_trafico_coord.csv). __Abre dicho fichero para ver los datos que contiene. Usa la función `read_csv` para leer los datos y crear un dataframe.__ Solo nos interesan las columnas `['idelem', 'cod_cent', 'Xcoord', 'Ycoord']`. Visualiza las 5 primeras filas.

In [38]:
# Sol: 
datos2=pd.read_table('./datos/pmed_trafico_coord.csv',
                          sep=';',
                          usecols=['idelem', 'cod_cent', 'Xcoord', 'Ycoord'],
                    decimal=",")
datos2.head(5)

   idelem    cod_cent    Xcoord     Ycoord
0    1044  03FT08PM01 -3.720754  40.419125
1    3600     PM30901 -3.664409  40.406252
2    3705     PM41451 -3.709906  40.390721
3    6823     PM41453 -3.717737  40.384554
4    7033        1015 -3.690105  40.426231

__3. Añadir las columnas de las coordenadas de cada estación a los datos de tráfico del mes de Enero. Usa la función `merge`.__

In [3]:
import datetime as dt
coord=datos2.iloc[:,[0,2,3]]
datos3=pd.merge(datos, coord, on=['idelem'])
datos3['Mes']=pd.to_datetime(datos3['fecha']).dt.month
datos3_enero=datos3[datos3.Mes==1]
datos3_enero.head()

Empty DataFrame
Columns: [idelem, fecha, identif, tipo_elem, intensidad, ocupacion, carga, vmed, error, periodo_integracion, Xcoord, Ycoord, Mes]
Index: []

__4. Añadir una hora a la columna fecha. La función `to_timedelta` permite crear unidades de tiempo. Crear una hora y súmala a la columna fecha.__

In [4]:
# Sol: 
datos4=pd.read_csv('./datos/trafico_madrid.csv')
datos4['fecha']=pd.to_datetime(datos4.fecha)
datos4['fecha']+=pd.to_timedelta('1h')
datos4.head(10)

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,3621,2017-02-18 08:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15
1,3973,2017-02-07 01:00:00,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13
2,4064,2017-02-11 23:45:00,10018,PUNTOS MEDIDA URBANOS,169,3,NaN,0,NaN,15
3,6375,2017-02-08 01:00:00,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14
4,6691,2017-02-23 21:45:00,PM12121,--,2428,5,37.0,81,NaN,15
5,6202,2017-02-03 16:00:00,54010,PUNTOS MEDIDA URBANOS,170,4,27.0,0,N,15
6,4047,2017-02-13 08:00:00,09033,PUNTOS MEDIDA URBANOS,65,1,11.0,0,N,15
7,6077,2017-02-26 12:30:00,47016,PUNTOS MEDIDA URBANOS,171,1,13.0,0,N,15
8,6103,2017-02-17 17:30:00,47044,PUNTOS MEDIDA URBANOS,153,2,27.0,0,N,15
9,7111,2017-02-21 23:30:00,62070,PUNTOS MEDIDA URBANOS,395,6,28.0,0,N,15

__5.__ Los datos de tráfico se recogen cada 15 minutos. Pero a nosotros __nos interesa agrupar los datos para tener una observación por estación de tráfico y hora__. En realidad queremos calcular la media de intensidad por hora. Usa el método `resample`.

In [30]:
# Sol: 
d5=pd.read_csv('./datos/trafico_madrid.csv', index_col=[1], parse_dates=[1])
d5.intensidad.resample('h').mean()

fecha
2017-02-01 00:00:00     163.430894
2017-02-01 01:00:00      84.253521
2017-02-01 02:00:00      49.172414
2017-02-01 03:00:00      41.034483
2017-02-01 04:00:00      39.702479
2017-02-01 05:00:00      59.551471
2017-02-01 06:00:00     235.263514
2017-02-01 07:00:00     645.664430
2017-02-01 08:00:00     819.092437
2017-02-01 09:00:00     881.060606
2017-02-01 10:00:00     687.488722
2017-02-01 11:00:00     734.630769
2017-02-01 12:00:00     633.192593
2017-02-01 13:00:00     768.437037
2017-02-01 14:00:00     865.270677
2017-02-01 15:00:00     685.110169
2017-02-01 16:00:00     614.842857
2017-02-01 17:00:00     668.669014
2017-02-01 18:00:00     840.888112
2017-02-01 19:00:00     786.685714
2017-02-01 20:00:00     707.496403
2017-02-01 21:00:00     535.081301
2017-02-01 22:00:00     367.118644
2017-02-01 23:00:00     263.975207
2017-02-02 00:00:00     208.767857
2017-02-02 01:00:00     107.638158
2017-02-02 02:00:00      47.330508
2017-02-02 03:00:00      46.348148
2017-02-02 04:00:00      43.554745
2017-02-02 05:00:00      83.326923
                          ...
2017-02-27 18:00:00     839.173554
2017-02-27 19:00:00     755.046512
2017-02-27 20:00:00     742.214765
2017-02-27 21:00:00     654.833333
2017-02-27 22:00:00     381.540984
2017-02-27 23:00:00     233.884615
2017-02-28 00:00:00     166.076923
2017-02-28 01:00:00      72.125000
2017-02-28 02:00:00      43.796875
2017-02-28 03:00:00      47.751724
2017-02-28 04:00:00      36.349515
2017-02-28 05:00:00      69.543860
2017-02-28 06:00:00     233.869231
2017-02-28 07:00:00     552.532258
2017-02-28 08:00:00     801.440299
2017-02-28 09:00:00     955.816794
2017-02-28 10:00:00     717.652482
2017-02-28 11:00:00     682.640288
2017-02-28 12:00:00     715.458647
2017-02-28 13:00:00     735.404412
2017-02-28 14:00:00     879.314286
2017-02-28 15:00:00     749.083333
2017-02-28 16:00:00     723.698529
2017-02-28 17:00:00     812.803571
2017-02-28 18:00:00     721.467213
2017-02-28 19:00:00    1014.050847
2017-02-28 20:00:00     757.987805
2017-02-28 21:00:00     583.139535
2017-02-28 22:00:00     433.833333
2017-02-28 23:00:00     245.195312
Freq: H, Name: intensidad, Length: 672, dtype: float64

__6. Calcula el número de centros asociados a cada `idelem`.__

In [56]:
# Sol: 
datos6=pd.merge(datos, datos2, on=['idelem'])
grupos=datos6.groupby(['idelem']).count()
grupos.cod_cent.head(20)

idelem
1001    15
1002    32
1003    34
1006    26
1009    27
1010    32
1011    21
1012    32
1013    30
1014    21
1015    24
1016    26
1017    30
1018    18
1019    33
1020    23
1021    23
1022    25
1023    29
1024    25
Name: cod_cent, dtype: int64

__7. Para cada `idelem`, calcula el `identif` que registra la intensidad máxima.__

In [58]:
# Sol: 
d7=datos.groupby(['idelem'])
g={'intensidad': max}
d7['identif', 'intensidad'].agg(g).head()

        intensidad
           identif intensidad
idelem
1001    05FT10PM01       4284
1002    05FT37PM01       5976
1003    05FT66PM01       6300
1006    04FT74PM01       5712
1009    03FT52PM01       5652

__8. Modifica las columnas de coordenadas para que aparezcan solo con 2 decimales.__

In [41]:
# Sol: 
f=datos2
f['Xcoord']= f['Xcoord'].round(2)
f['Ycoord']= f['Ycoord'].round(2)
f.head()

   idelem    cod_cent  Xcoord  Ycoord
0    1044  03FT08PM01   -3.72   40.42
1    3600     PM30901   -3.66   40.41
2    3705     PM41451   -3.71   40.39
3    6823     PM41453   -3.72   40.38
4    7033        1015   -3.69   40.43

__9. ¿En qué centro se ha registrado la mayor intensidad de tráfico?.__

In [33]:
# Sol: 
d9=pd.merge(datos,datos2, on=['idelem'])
centromax=d9[d9.intensidad==d9.intensidad.max()].cod_cent
centromax #El primer número es el individuo de la muestra y el segundo el identificador del centro (cod_cent)

46031    97060
Name: cod_cent, dtype: object